# Binaries
/difftest
/hive-sim/hive-sim
/dist/

# Test and run artifacts
/results/
*.log
.coverage

# Editor
.idea/
.vscode/
.DS_Store

# Pipeline build artifacts
/irdrive
/smgen
/specgen

# local build artifacts
/parallax
/simulation
/specchain
hive-sim/hivegen
auth.json
